.h_100 {
    min-height: 100vh;
    height: 100%;
}

.color_bg {
    background: #2764a7;
}

.bg {
    height: 100%;
    width: 100%;
    background-image: ("./img/fondo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

.w-35 {
    width: 35% !important;
}

.count-exercise {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 764px) {
    .bg {
        background-image: url("../public/img/fondo-mobile.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }
}
