.h_100 {
    height: 100vh;
}

.color_bg {
    background-image: url(../../fondo.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

.w-35 {
    width: 35% !important;
}

@media only screen and (max-width: 764px) {
    .color_bg {
        background-image: url(../../fondo-mobile.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}
